<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
            <li data-menuanchor="top" id="presentation-link" class="pure-menu-item active">
                <a href="#top" class="pure-menu-link">About</a>
            </li>
            <li data-menuanchor="projects" id="projects-link" class="pure-menu-item">
                <a href="#projects" class="pure-menu-link">My Projects</a>
            </li>
            <li data-menuanchor="contact" id="contacts-link" class="pure-menu-item">
                <a href="#contact" class="pure-menu-link">Contact</a>
            </li>
        </ul>
    </div>
</div>