--- 
--- 

.header {
    padding: 1%;
    border-bottom: 1px solid #eee;
    display: flex;
    color: rgb(226, 226, 226);
    position: fixed;
    top: 0;
    bottom: 0;
}

.header-pure-menu-item {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 2em;
    padding-right: 2em;
    font-size: larger;
}

.center {
    display: flex;
    justify-content: center;
}