<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
<link rel="stylesheet" href="/assets/css/purecss.scss">
<link rel="stylesheet" href="/assets/css/styles.css">

<div style="background: rgb(255,255,255);
background: linear-gradient(180deg, rgb(255,255,255) 0%, rgb(202,222,255) 100%);" id="layout">

    {% include header.html %}

    {{ content }}

</div>